/.aws
/bff-auth/app/target
/bff-auth/docker/.aws
/bff-reverse-proxy/app/target
/docker/.env
/docker/mysql
/docker/bff/.aws
/postgres
/mysql
/tls
/django
/flask
/react
/express
/nginx
/frontend/frontend.dockerfile
/queue
/dynamodb
/static
/backend-app/app/src/sqlboiler.toml
/backend-app/docker/.aws
/backend-cron-job
/backend-management
/backend-queue-worker
/kubernetes/secrets
/docker-compose
/cloudformation.yaml
/vue.js/site/node_modules/
/vue.js/site/src/assets/
/vue.js/site/src/firebase-config.ts
